<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>372709343788-uu5hkpngves3unsnqg9sq579er3tpucp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.372709343788-uu5hkpngves3unsnqg9sq579er3tpucp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>372709343788-o9cl0bplo7trreh44tp0us520ha42ndq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC61EWusPoxYI0-uA_TvZPcjVii44B9WPg</string>
	<key>GCM_SENDER_ID</key>
	<string>372709343788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.furnitureShopApp</string>
	<key>PROJECT_ID</key>
	<string>furniture-app-5c2a8</string>
	<key>STORAGE_BUCKET</key>
	<string>furniture-app-5c2a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372709343788:ios:30d22629d91fb89e3c0789</string>
</dict>
</plist>